@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@500;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(27, 27, 40);
  --panel-color: rgb(41, 41, 61);
  --dark-blue: rgb(19, 29, 41);
  --off-white: rgb(255, 246, 234);
  --border-color: rgb(87, 82, 69);
}


html, body, #root {
  margin: 0;
  padding: 0;
  min-width: 100vh;
  min-height: 100vh;
}

body {
  background: var(--background-color);
  font-family: 'Inter', sans-serif;
}