@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@500;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(34, 34, 51);
  --panel-color: rgb(49, 49, 72);
  --off-white: rgb(255, 246, 234);
  --border-color: rgb(136, 98, 0);
}


html, body, base, #root {
  margin: 0;
  padding: 0;
  min-width: 100dvw;
  min-height: 100dvh;
}

body {
  background: var(--background-color);
  font-family: 'Inter', sans-serif;
}